/* Override this file to customise the theme's CSS for your site */

summary {
  color: var(--link);
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: 0.5em;
}


input[type='text'] {
  background-color: var(--fg);
  border: none;
  font-family: var(--font-monospace);
  font-size: 1em;
  color: var(--off-bg);
}

.button {
  background-color: var(--fg);
  color: var(--off-bg);
  border: none;
  font-family: var(--font-monospace);
  font-size: 1em;
  font-weight: 800;
}

/* make quotes a bit smaller than main content */
div#quote p,
div#quote h1,
div#quote h2,
div#quote h3 {
    font-size: 0.85em;
}

