{{ define "main" }}
<!-- orders all tagged posts newest first -->
<div class="main">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <hr>
    {{ range .Site.RegularPages.ByPublishDate.Reverse }}
        {{ if (isset .Params "tags") }}
            <h2>
                <a href="{{ .RelPermalink }}" class="mainlink">
                    {{ .Title }}
                </a>
            </h2>
            <p>
                {{ partial "summary_no_header.html" . }} <!-- cleaner summary -->
            </p>
            <p>({{ .PublishDate.Format "2006-01-02" }})</p>
            <hr>
        {{ end }}
    {{ end }}
</div>
{{ end }}
