
:root {
  /*
    main color gets overwritten with a random value by javascript on
    page load, so it's value here is just a placeholder
  */
  --main-color: rgba(255,255,255,1.0);
  --background-color: rgba(0,0,0,1.0);
  --background-color-lightened: rgba(70,70,70,1.0);
  --header-font: "Lucida Console";
  --main-font: "Inconsolata";
}

html, body {
  background-color: var(--background-color);
  max-width: 100%;
}

body {
  margin: auto;
}

.themecolor {
  color: var(--main-color);
}

@font-face {
  font-family: Inconsolata;
  src: url(Inconsolata-Variable.ttf);
}

@font-face {
  font-family: "Lucida Console";
  src: url("Lucida Console.ttf");
}


hr {
  border-top: 0.2vmin solid white;
}

p, ul {
  color: rgba(255,255,255,1.0);
  font-family: var(--main-font);
  font-size: min(3vmin,32px);
  font-weight: 400;
  text-align: justify;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--header-font);
}

h1 {
  color: var(--main-color);
  font-size: 5vmin;
  text-transform: uppercase;
}

h2 {
  color: var(--main-color);
  font-size: 4vmin;
  text-transform: uppercase;
}

h3 {
  color: var(--main-color);
  font-size: 3vmin;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

a:visited {
  color: rgba(255,255,255,1.0);
}

a.mainlink {
  color: rgba(255,255,255,1.0);
  font-family: var(--main-font);
  font-style: italic;
  text-decoration: underline;
  text-align: justify;
}

code {
  color: rgba(255,255,255,1.0);
  font-family: var(--main-font);
  font-size: min(3vmin,32px);
  background-color: var(--background-color-lightened);
  word-wrap: normal;
  box-decoration-break: clone;
  padding: 0.2rem 0.3rem; /* upper/lower pad   left/right pad */
  border-radius: 0.2rem;
}

pre:first-line {
  line-height: 1000;
}

pre code{
  display: block;
  color: rgba(255,255,255,1.0);
  font-family: var(--main-font);
  font-size: min(3vmin,32px);
  background-color: var(--background-color-lightened);
  word-wrap: normal;
  box-decoration-break: clone;
  white-space: pre;
  overflow-x: scroll;
  padding: 0.2rem 0.3rem; /* upper/lower pad   left/right pad */
}

details {
  color: var(--main-color); /* this seems to color summary text instead */
  font-size: min(3vmin,32px);
  font-family: var(--main-font);
  border: 0.2vmin solid white;
  padding: .5em .5em 0;
}

summary {
  color: var(--main-color);
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: .5em;
}

details[open] summary {
  border-bottom: 0.2vmin solid white;
  margin-bottom: .5em;
}

input[type='text'] {
  background-color: rgba(0,0,0,1);
  border: 2px solid rgba(255,255,255,1.0);
  color: rgba(255,255,255,1.0);
  font-family: var(--main-font);
  font-size: 2.7vmin;
  font-weight: 600;
}

.button {
  background-color: rgba(255,255,255,1);
  border: 2px solid rgba(255,255,255,1.0);
  color: black;
  font-family: var(--main-font);
  font-size: 2.7vmin;
  font-weight: 800;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 98vw;
  box-sizing: border-box;
  /* left pad evens out mystical right padding from <body> */
  padding: 1vh 0vw 0vh 2vw; 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: center;
  column-gap: 1vw;
  background-color: var(--background-color);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border-width: 0.2vw;
  border-style: solid;
  border-color: white;
}

.name {
  display: none;
}

.navlinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-begin;
  word-spacing: -0.5em; /* makes different links more distinguishable */
}

.nav p {
  color: var(--main-color);
  display: block;
  font-size: min(5.3vmin,63px);
  margin: 2vmin 1vmin;
  font-family: "Lucida Console", Courier, monospace;
}

.nav a {
  padding: 1vmin 1vmin 1vmin;
  font-size: min(3vmin,36px);
  color: white;
  flex-grow: 1;
}

.navtext {
  font-family: "Lucida Console", Courier, monospace;
}

.navtext .current {
  color: var(--main-color);
}

.main {
  flex-grow: 1;
  overflow: scroll;
}

.timeline-title {
  /* allows date and title to be on some line */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0vh 0vw 0vh 0vw; 
}

@media only screen and (min-width: 1250px) {
    .container {
      width: min(1500px,98vw);
      padding: 0vh 0vw 0vh 0vw;
      flex-direction: row;
    }
    .nav {
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: min(20%,200px);
    }
    .name {
      display: flex;
      align-self: center;
    }
    .navlinks {
      flex-direction: column;
      /* add it's own top border to divide between name */
      border-top-width: 0.2vw;
      border-top-style: solid;
      border-top-color: white;
    }
}

