{{ with .Site.Params.about }}
<div class="aside__about">
    {{ with .logo }}<img class="about__logo" src="{{ . | absURL }}" alt="Logo">{{ end }}
<h1 class="about__title">{{ .title }}</h1>
{{ with .description }}<p class="about__description">{{ . | markdownify }}</p>{{ end }}
</div>
{{ end }}

<!-- commented out social links section since it results in extra space even
     when empty -->
<!-- <ul class="aside__social-links"> -->
<!--     {{ range $item := .Site.Params.socialLinks }} -->
<!--     <li> -->
<!--         <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}" title="{{ $item.title }}"><i class="{{ $item.icon }}" aria-hidden="true"></i></a>&nbsp; -->
<!--     </li> -->
<!--     {{ end }} -->
<!-- </ul> -->

<div id="quote">
  <h1>A fun quote</h1>
</div>
<!-- insert random quote after above element has loaded -->
<script> newQuote() </script>
