/* color splotch
   see colours.css for how these colors are employed
 */

:root {
	--base00: #181818;
	--base01: #282828;
	--base02: #383838;
	--base03: #585858;
	--base04: #b8b8b8;
	--base05: #d8d8d8;
	--base06: #e8e8e8;
	--base07: #f8f8f8;
	--base08: #eadc5f;
	--base09: #ca5751;
	--base0A: #f7ca88;
	--base0B: #efac5e;
	--base0C: #7bc467;
	--base0D: #58b3dd;
	--base0E: #ba8baf;
	--base0F: #116946;
}
