{{ define "main" }}
<div class="main">
    <h1>{{ .Title }}</h1>
    <hr>
    <!-- ensures double <hr> not rendered when .Content empty -->
    {{ if (not (eq .Content "")) }}
        {{ .Content }}
        <hr>
    {{ end }}
    {{ range .Pages.ByWeight }}
        <a href="{{ .RelPermalink }}">
        <h3>{{ .Title }}</h3>
        </a>
        <p>
            <a href="{{ .RelPermalink }}" class="mainlink">
                {{ partial "summary_no_header.html" . }} <!-- cleaner summary -->
            </a>
        </p>
        <hr>
    {{ end }}
</div>
{{ end }}
