<div class="nav navtext">
    <!--
    <div class="name">
        <p> GABRIEL<br> H.BROWN </p>
    </div>
    -->
    <div class="name">
        <p id="corner_matrix"></p>
        <script> cornerMatrix() </script>
    </div>
    <nav id="nav" class="navlinks">
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
        <!-- use if statement here to implement "current page" behavior -->
        </a>
        {{ end }}
    </nav>
</div>
