  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css" >
    <script src="/js/main.js"></script>
    <script> newColor(), getScreenWindowInformation() </script>
    <script> newColor(), getScreenWindowInformation() </script>
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <meta name="author" content="Gabriel H. Brown">
    <meta name="description" content="Website of Gabriel H. Brown, Graduate
     Student at University of Texas at Austin.">
    <meta name="keywords" content="Gabriel Brown, Gabriel H Brown, Gabriel H. Brown, G. H. Brown, G H Brown,
    Notre Dame, ND, University of Illinois Urbana-Champaign, UIUC,
    University of Texas Austin, UT Austin, Texas,
    math, applied, science, physics, engineering, mechanical,
    computational, numerical, analysis, linear, algebra, tensor, eigenpair, eigenvalue, eigenvector,
    multiscale, multi-scale, modeling,
    Uncle, Gimpy's, Gimpy, Intellectifier">
    {{ partial "hook_head_end.html" . }}
  </head>
