/* Override this file to customise the theme's CSS for your site */

summary {
  color: var(--link);
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: 0.5em;
}
